body {
    background: linear-gradient(135deg, #98b2ce, #b5c6e9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.logo {
    width: 100px;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in;

}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: #7fa77b;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #98b2ce;
}

.link a {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.link a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .logo {
        width: 80px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        width: 100%;
    }
}
#map {
    position: relative;
    z-index: 1000;
  }
  #debug-container {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  }
  
  #toggle-debug {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  #arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 8px;
  }
  
  #toggle-debug.open #arrow {
    transform: rotate(90deg);
  }
  